<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'update' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{data.id}}">
        <input type="text" name="country" placeholder="{{data.country}}">
        <input type="text" name="city" placeholder="{{data.city}}">
        <h3>{{data.created|date:"d/m/Y H:i"}}</h3>
        <h3>{{data.update|date:"d/m/Y H:i"}}</h3>
        <div class='position'>
            <button type="submit" class="update">Atualizar</button>
            <a href="{% url 'home' %}" class='back'>voltar</a>
        </div>
    </form>
</body>
</html>