<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'update' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="id">
        <input type="text" name="country" placeholder="pais">
        <input type="text" name="city" placeholder="cidade">
        <h3>99999</h3>
        <h3>99999</h3>
        <div class='position'>
            <button type="submit" class="update">Atualizar</button>
            <a href="{% url 'home' %}" class='back'>voltar</a>
        </div>
    </form>
</body>
</html>